/**/
@media(min-width:1200px){
    #wrapper{border:solid red; padding:15px}
    #header{
      background-color:#000;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    #content{border:solid blue; margin-top:15px; background-image: url(../images/1.jpg);}
    #content::after{content:" "; display:block; clear:both; }
    #left-panel{
      border:solid green;
      width:20%;
      float:left;
    }
    #navbar{
      background-color: #E68800;
      height:400px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    #news{
      background-color: #B8B894;
      height:200px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
    #right-section{
      background-color: #009999;
      height:615px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      width: 78.3%;
      float:right;
    }
    #footer{
      height: 100px;
      background-color: #003333;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
  }
  @media(min-width:992px) and (max-width:1199px){
    #wrapper{border:solid red; padding:15px}
    #header{
      background-color:#000;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    #content{border:solid blue; margin-top:15px;}
    /*#content::after{content:" "; display:block; clear:both; }*/
    
    #navbar{
      background-color: #E68800;
      height:400px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    #news{
      background-color: #B8B894;
      height:200px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
    #right-section{
      background-color: #009999;
      height:615px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      width: 78.3%;
      float:right;
    }
    #footer{
      height: 100px;
      background-color: #003333;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
  }
  @media(min-width:768px) and (max-width:991px){
    #wrapper{border:solid red; padding:15px}
    #header{
      background-color:#000;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    #content{display:table;width:100%; border:solid blue; margin-top:15px;}
    /*#left-panel::after{content:" "; display:block; clear:both; }*/
    #left-panel{
      border:solid green;
      width:100%;
      display:table-footer-group;
    }
    #navbar{
      background-color: #E68800;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      float:right;
      width:78.3%;
    }
    #news{
      background-color: #B8B894;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      float:left;
      width:20%;
    }
    #right-section{
      background-color: #009999;
      height:615px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-bottom: 15px;
      
    }
    #footer{
      height: 100px;
      background-color: #003333;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
  }
  @media(max-width:767px){
    #wrapper{border:solid red; padding:15px}
    #header{
      background-color:#000;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    #content{display:table;width:100%; border:solid blue; margin-top:15px;}
    #left-panel::after{content:" "; display:block; clear:both; }
    #left-panel{
      border:solid green;
      width:100%;
      display:table-footer-group;
    }
    #navbar{
      background-color: #E68800;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      
    }
    #news{
      background-color: #B8B894;
      height:100px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
    #right-section{
      background-color: #009999;
      height:615px;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-bottom: 15px;
      
    }
    #footer{
      height: 100px;
      background-color: #003333;
      -moz-border-radius:15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 15px;
    }
  }